<div class="filtro lista" >
    <mat-form-field appearance="fill">
        <mat-label>Géneros</mat-label>
        <mat-select multiple [(ngModel)]="selectedGenresId" (selectionChange)="filterMovieByGenre(selectedGenresId)">
            <mat-option *ngFor="let genre of genreList" [value]="genre.id">{{genre.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <!--<button mat-raised-button color="primary" (click)="filterMovieByGenre(selectedGenresId)">Filtrar</button>-->
    <!--TODO : Uncheckear todos los checkboxes con un método-->
    <!-- <button mat-raised-button color="warn" (click)="uncheckAll()">Reset filtros</button>-->

    <div  fxLayout.gt-md="row wrap" fxLayout.lt-lg="column" fxLayoutAlign.gt-lg="center center"
        fxLayoutGap='30px grid'>
        <app-movie-item class="movie-item" *ngFor="let movie of popularMovies" [movieInput]="movie" fxFlex.gt-md="14"
            fxFlex.lt-lg="50"></app-movie-item>
    </div>

</div>