img {
    object-fit: cover;
}

.movie-card{
    height: 325px;
}

.movie-description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.circle-position{

    position: absolute;

}